<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="header_box wrapper">
            <div class="header_logo">
                <img src="../src/logo.png" alt="logo">
            </div>
            <div>
                <ul class="header_list">
                    <li class="header_list-item">About</li>
                    <li class="header_list-item">Services</li>
                    <li class="header_list-item">Pricing</li>
                    <li class="header_list-item">Blog</li>
                </ul>
            </div>
            <button type="button" class="button">Contact</button>
        </div>
    </header>

    <section class="about">
        <div class="about_box wrapper">
            <div class="about_inform">
                <p class="about_inform__item orange-text">Gabriel Pires</p>
                <h1 class="h1">The Simple, Clean Design</h1>
                <p class="about_inform__item orange-text">Agency provides a full service range including technical
                    skills, design, business understanding.</p>
                <button type="button" class="orangeButton">See my work</button>
            </div>
            <img src="../src/about.png" alt="about">
        </div>
    </section>

    <section class="service">
        <div class="service_question wrapper">
            <p class="orange-text">Service</p>
            <p class="question">How I Can Help You With</p>
        </div>
        <div class="card-general wrapper">
            <div class="card">
                <div class="card_logo-title">
                    <div class="card_circle">
                        <img src="../src/design_logo.png" class="card_circle_img" alt="design">
                    </div>
                    <p class="card_text-design">Design</p>
                </div>
                <p class="card_text">Agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.</p>
            </div>
        </div>
    </section>

    <main class="main">

    </main>

    <footer class="footer">

    </footer>
</body>

</html>