<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="header_box wrapper">
            <div class="header_logo">
                <img src="../src/logo.png" alt="logo">
            </div>
            <div>
                <ul class="header_list">
                    <li class="header_list-item">About</li>
                    <li class="header_list-item">Services</li>
                    <li class="header_list-item">Pricing</li>
                    <li class="header_list-item">Blog</li>
                </ul>
            </div>
            <button type="button" class="header_btn button">Contact</button>
            <img src="../src/menu.png" alt="menu" class="header_menu">
        </div>
    </header>

    <section class="about">
        <div class="about_box wrapper">
            <div class="about_inform">
                <p class="about_inform__item orange-text">Gabriel Pires</p>
                <h1 class="h1">The Simple, Clean Design</h1>
                <p class="about_inform__item orange-text">Agency provides a full service range including technical
                    skills, design, business understanding.</p>
                <button type="button" class="orangeButton">See my work</button>
            </div>
            <img src="../src/about.png" alt="about" class="about_img">
        </div>
    </section>

    <section class="service">
        <div class="service_question wrapper">
            <p class="orange-text">Service</p>
            <p class="question">How I Can Help You With</p>
        </div>
        <div class="card-general wrapper">
            <div class="card">
                <div class="card_box">
                    <div class="card_circle">
                        <img src="../src/design_logo.png" class="card_circle_img" alt="design">
                    </div>
                    <p class="card_text-design">Design</p>
                </div>
                <p class="card_text">Agency is a business you hire to outsource your digital marketing efforts, instead
                    of handling in-house.</p>
                <div class="card_box">
                    <button type="button" class="card_btn">+</button>
                    <p class="card_text-learn">Learn more</p>
                </div>
            </div>

            <div class="card">
                <div class="card_box">
                    <div class="card_circle">
                        <img src="../src/develop_logo.png" class="card_circle_img" alt="develop">
                    </div>
                    <p class="card_text-design">Development</p>
                </div>
                <p class="card_text">Hire to outsource your digital marketing efforts, instead of handling in-house can
                    provide your business.</p>
                <div class="card_box">
                    <button type="button" class="card_btn">+</button>
                    <p class="card_text-learn">Learn more</p>
                </div>
            </div>
        </div>
        <div class="service_footer wrapper">
            <p class="card_text">Want more service? <a class="service_footer-link" href=""><b>Explore now</b></a></p>
        </div>
    </section>

    <section class="portfolio">
        <div class="portfolio_wrapper wrapper">
            <div class="portfolio_header">
                <div class="portfolio_title">
                    <p class="orange-text">Portfolio</p>
                    <p class="portfolio_text">Latest Work</p>
                </div>
                <button type="button" class="button portfolio_btn">Explore more</button>
            </div>
        </div>
        <div class="portfolio_box-img">

            <div class="portfolio_img">
                <img src="../src/portfolio_sofa.png" alt="sofa" class="img">
            </div>

            <div class="portfolio_img">
                <img src="../src/portfolio_keyboard.png" alt="keyboard" class="img">
            </div>

            <div class="portfolio_img">
                <img src="../src/portfolio_work_media.png" alt="work_media" class="img">
            </div>

        </div>
        <div class="img_btn-text-left">
            <button type="button" class="img_btn">Design</button>
            <p class="img-text">Sofa</p>
        </div>
        <div class="img_btn-text-center">
            <button type="button" class="img_btn">Branding</button>
            <p class="img-text">KeyBoard</p>
        </div>
        <div class="img_btn-text-right">
            <button type="button" class="img_btn">Illustration</button>
            <p class="img-text">Work Media</p>
        </div>
    </section>

    <section class="aboutme">
        <div class="aboutme_wrapper wrapper">
            <div class="aboutme_container-foto-rightbox">
                <div class="aboutme_foto-box">
                    <img src="../src/aboutme-foto.png" alt="foto-aboutme" class="aboutme_foto">
                </div>
                <div class="aboutme_rightbox">
                    <p class="aboutme_title orange-text">Gabriel Pires</p>
                    <p class="aboutme_name question">Professional Web Designer</p>
                    <p class="paragraph-darkColor">Provides a full service range</p>
                    <p class="aboutme_text">Ability to put themselves in the merchant's shoes. It is meant to partner on
                        the long run, and work as an extension of the merchant's team.</p>
                    <button type="button" class="aboutme_btn">About me</button>
                </div>
            </div>
            <div class="aboutme_container-for-cards">
                <div class="aboutme_box-img-text">
                    <div class="aboutme_circle">
                        <img src="../src/check_calendar.png" height="30px" width="30px" alt="check_calend">
                    </div>
                    <div class="aboutme_box-text">
                        <p class="aboutme_numbers">42%</p>
                        <p class="paragraph-darkColor">Years of expireance</p>
                    </div>
                </div>
                <div class="aboutme_box-img-text">
                    <div class="aboutme_circle">
                        <img src="../src/develop_logo.png" height="30px" width="30px" alt="develop">
                    </div>
                    <div class="aboutme_box-text">
                        <p class="aboutme_numbers">73+</p>
                        <p class="paragraph-darkColor">Projects Done</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main class="main">

    </main>

    <footer class="footer">

    </footer>
</body>

</html>