* {
    padding: 0;
    margin: 0;
}

$darkBlueColor: #28293E;
$orangeColor: #EF6D58;
$lightColor: #FDF0E9;
$darkBraunColor: #391400;
$cardTextColor: rgba(133, 90, 68, 0.9);
$colorBordersCard: #F3D1BF;

.wrapper {
    width: 1160px;
    margin: 0 auto;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    @media (max-width: 1160px) {
        width: 90%;
    }
}

.orange-text {
    color: $orangeColor;
    line-height: 32px;
    letter-spacing: 3px;

    @media (max-width: 500px) {
        display: flex;
        width: 90%;
        text-align: center;
        justify-content: flex-start;
    }
}

.card_text {
    color: $cardTextColor;
    line-height: 28px;
    letter-spacing: 2px;
}

.h1 {
    color: white;
    font-weight: 800;
    font-size: 72px;
}

.paragraph-darkColor {
    color: $darkBraunColor;
}

.button {
    background-color: inherit;
    width: 138px;
    height: 48px;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 3px 3px black;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: $darkBlueColor;
    }
}

.orangeButton {
    @extend .button;
    background-color: $orangeColor;
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 154px;
    height: 48px;
}

.header {
    background-color: $darkBlueColor;
    color: white;
    padding: 10px 0;

    &_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_list {
        display: flex;
        align-items: center;
        gap: 100px;
        list-style-type: none;

        @media (max-width: 500px) {
            display: none;
        }
    }

    &_list-item {
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            transform: translateY(-2px);
        }
    }

    &_btn {
        @media (max-width: 500px) {
            display: none;
        }
    }

    &_menu {
        display: none;

        @media (max-width: 500px) {
            display: block;
        }
    }
}

.about {
    background-color: $darkBlueColor;

    &_box {
        display: flex;
        background-color: $darkBlueColor;
        justify-content: space-between;
        align-items: center;
        padding: 90px 0;

        @media (max-width: 500px) {
            flex-direction: column-reverse;
            padding: 10px;
        }
    }

    &_inform {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
    }

    &_img {
        @media (max-width: 500px) {
            width: 90%;
        }
    }
}

.question {
    color: $darkBraunColor;
    font-size: 50px;
    font-weight: bolder;
    width: 425px;
    line-height: 64px;
    text-align: center;
}

.service {
    background-color: $lightColor;
    padding: 90px 0;

    &_question {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }



    &_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        padding: 35px;
        box-sizing: border-box;
        width: 90%;
    }

    &_footer-link {
        text-decoration: none;
        @extend .card_text;

        &:hover {
            color: #EF6D58;
            text-decoration: underline;
        }
    }
}

.card-general {
    background-color: $lightColor;
    display: flex;

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid $colorBordersCard;
        padding: 40px;
        gap: 15px;
        width: 50%;
        box-sizing: border-box;

        @media (max-width: 500px) {
            width: 90%;
            border: 1px solid $colorBordersCard;
            margin: 0px;
        }

        &_box {
            display: flex;
            align-items: center;
            gap: 20px;
            color: $darkBraunColor;

            @media (max-width: 500px) {
                justify-content: flex-start;
                align-items: center;
                margin-left: 10px;
            }
        }

        &_circle {
            background-color: $orangeColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
            justify-content: center;
            padding: 20px;
        }

        &_text-design {
            font-weight: bold;
            font-size: 24px;
        }

        &_btn {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orangeColor;
            background-color: white;
            border-radius: 50%;
            font-size: 28px;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: $orangeColor;
                color: white;
            }
        }

        &_text-learn {
            color: $darkBraunColor;
        }

        &:last-child {
            border-left: none;

            @media (max-width: 500px) {
                border-left: 1px solid $colorBordersCard;
                border-top: none;
            }
        }
    }
}

.portfolio {
    background-color: $darkBlueColor;
    display: flex;
    padding: 90px 0;
    padding-bottom: 30px;
    flex-direction: column;
    position: relative;

    &_wrapper {
        display: flex;
        flex-direction: column;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: end;

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 25px;
        }
    }

    &_btn {
        width: 200px;
        height: 55px;
        font-size: 14px;
        margin-top: 40px;
    }

    &_text {
        color: white;
        font-size: 40px;
        font-weight: bolder;
        letter-spacing: -1px;
    }

    &_title {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;

        @media (max-width: 500px) {
            justify-content: flex-start;
        }
    }

    &_box-img {
        padding: 90px 0;
        padding-bottom: 70px;
        display: flex;

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &_img {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        border: 1px solid rgba(255, 255, 255, 0.3);
        width: 33.333%;

        @media (max-width: 500px) {
            width: 100%;
            border-bottom: none;
        }

        &:first-child {
            border-right: none;
            border-left: none;

            @media (max-width: 500px) {
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-bottom: none;
            }
        }

        &:last-child {
            border-left: none;

            @media (max-width: 500px) {
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }

    .img-in-portfolio {
        width: 97%;
    }
}

.img_btn-text-left {
    position: absolute;
    bottom: 200px;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    @media (max-width: 500px) {
        left: 13%;
        top: 780px;
    }
}

.img_btn-text-center {
    position: absolute;
    bottom: 200px;
    left: 38%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    @media (max-width: 500px) {
        left: 13%;
        bottom: 750px;
    }
}

.img_btn-text-right {
    position: absolute;
    bottom: 200px;
    left: 71%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

    @media (max-width: 500px) {
        left: 13%;
        bottom: 195px;
    }
}

.img_btn {
    width: 120px;
    height: 45px;
    border: none;
    background-color: white;
    color: #391400;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 32px;
    font-size: 20px;

    &:hover {
        background-color: black;
        color: white;
    }
}

.img-text {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Epilogue", sans-serif;

    @media (max-width: 500px) {
        margin-left: 10px;
    }
}

.aboutme {
    background-color: $lightColor;
    display: flex;
    padding: 90px 0;
    flex-direction: column;

    &_wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        margin-bottom: 50px;

        @media (max-width: 500px) {
            margin-top: 40px;
        }
    }

    &_container-foto-rightbox {
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    &_foto-box {
        box-sizing: border-box;
        padding: 0px;

        @media (max-width: 500px) {
            width: 90%;
        }
    }

    &_foto {
        @media (max-width: 500px) {
            width: 100%;
            margin-left: 20px;
        }
    }


    &_rightbox {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 50px;
        box-sizing: border-box;
        margin-left: 50px;

        @media (max-width: 500px) {
            width: 100%;
            margin-left: 25px;
            padding-left: 0px;
        }
    }

    &_title {
        display: flex;
    }

    &_name {
        text-align: start;
    }

    &_text {
        color: $cardTextColor;
        line-height: 28px;
        letter-spacing: 2px;
    }

    &_btn {
        width: 130px;
        height: 40px;
        background-color: white;
        color: $darkBraunColor;
        font-weight: bolder;
        text-transform: uppercase;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        box-shadow: 0 3px 3px gray;

        &:hover {
            background-color: $darkBraunColor;
            color: white;
        }
    }

    &_container-for-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
        width: 100%;

        @media (max-width: 500px) {
            flex-direction: column;

        }
    }

    &_box-img-text {
        display: flex;
        width: 50%;
        border: 1px solid $colorBordersCard;
        box-sizing: border-box;
        padding: 20px;
        justify-content: start;
        align-items: center;

        @media (max-width: 500px) {
            width: 90%;
            height: 210px;
            padding-left: 50px;
        }
    }

    &_img {
        @media (max-width: 500px) {
            width: 50px;
            height: 50px;
        }
    }

    &_circle {
        background-color: $orangeColor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    &_box-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 35px;
    }

    &_numbers {
        color: $darkBraunColor;
        font-weight: bolder;
        font-size: 35px;
    }
}

.features {
    background-color: $darkBlueColor;
    display: flex;
    padding: 90px 0px;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        // border: 1px solid lightcyan;
        margin-top: 90px;

        @media (max-width: 500px) {
            align-items: center;
            flex-direction: column-reverse;
            margin-top: 40px;
        }
    }

    &_box-for-text-check {
        width: 45%;
        // border: 2px solid green;
        @media (max-width: 500px) {
            width: 90%;
        } 
    }

    &_title {
        width: 305px;
        height: 120px;
        color: white;
        font-size: 45px;
        font-weight: bolder;
        letter-spacing: -1px;
        padding-top: 25px;
        // border: 1px solid red;
        line-height: 1.3;
    }

    &_text {
        color: white;
        font-size: 20px;
        line-height: 32px;
        padding-top: 25px;
    }

    &_box-check {
        margin: 30px 0px;
        // border: 2px solid yellow;
    }

    &_box-for-img {
        width: 45%;
        // border: 2px solid green;

        @media (max-width: 500px) {
            width: 90%;
        }
    }

    &_img {
        width: 100%;
    }

    &_check {
        display: flex;
        align-items: center;
        margin: 20px 0px;
    }

    &_circle {
        background-color: $orangeColor;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
    }

    &_img-check {
        width: 18px;
        height: 14px;
    }

    &_text-gray {
        color: lightgray;
        line-height: 32px;
        margin-left: 20px;
    }
}