* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.orange-text {
  color: #EF6D58;
  line-height: 32px;
  letter-spacing: 3px;
}

.card_text, .service_footer-link {
  color: rgba(133, 90, 68, 0.9);
  line-height: 28px;
  letter-spacing: 2px;
}

.h1 {
  color: white;
  font-weight: 800;
  font-size: 72px;
}

.button, .orangeButton {
  background-color: inherit;
  width: 138px;
  height: 48px;
  color: white;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 3px 3px black;
  cursor: pointer;
}
.button:hover, .orangeButton:hover {
  background-color: white;
  color: #28293E;
}

.orangeButton {
  background-color: #EF6D58;
  border: none;
  box-shadow: none;
  border-radius: 0;
  width: 154px;
  height: 48px;
}

.header {
  background-color: #28293E;
  color: white;
  padding: 10px 0;
}
.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_list {
  display: flex;
  align-items: center;
  gap: 100px;
  list-style-type: none;
}
.header_list-item {
  cursor: pointer;
  transition: 0.5s;
}
.header_list-item:hover {
  transform: translateY(-2px);
}

.about {
  background-color: #28293E;
}
.about_box {
  display: flex;
  background-color: #28293E;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0;
}
.about_inform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.service {
  background-color: #FDF0E9;
  padding: 90px 0;
}
.service_question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.service .question {
  color: #391400;
  font-size: 50px;
  font-weight: bolder;
  width: 425px;
  line-height: 64px;
  text-align: center;
}
.service_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px;
}
.service_footer-link {
  text-decoration: none;
}
.service_footer-link:hover {
  color: #EF6D58;
  text-decoration: underline;
}

.card-general {
  background-color: #FDF0E9;
  display: flex;
}
.card-general .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #F3D1BF;
  padding: 40px;
  gap: 15px;
  width: 50%;
  box-sizing: border-box;
}
.card-general .card_box {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #391400;
}
.card-general .card_circle {
  background-color: #EF6D58;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card-general .card_text-design {
  font-weight: bold;
  font-size: 24px;
}
.card-general .card_btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EF6D58;
  background-color: white;
  border-radius: 50%;
  font-size: 28px;
  border: none;
  cursor: pointer;
}
.card-general .card_btn:hover {
  background-color: #EF6D58;
  color: white;
}
.card-general .card_text-learn {
  color: #391400;
}
.card-general .card:last-child {
  border-left: none;
}

.portfolio {
  background-color: #28293E;
  display: flex;
  padding: 90px 0;
  flex-direction: column;
  position: relative;
}
.portfolio_wrapper {
  display: flex;
  flex-direction: column;
}
.portfolio_header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.portfolio_text {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: -1px;
}
.portfolio_title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.portfolio_box-img {
  padding: 90px 0;
  display: flex;
}
.portfolio_img {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 33.333%;
}
.portfolio_img:first-child {
  border-right: none;
  border-left: none;
}
.portfolio_img:last-child {
  border-left: none;
}
.portfolio .img {
  width: 97%;
}

.img_btn-text-left {
  position: absolute;
  bottom: 300px;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.img_btn-text-center {
  position: absolute;
  bottom: 300px;
  left: 38%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.img_btn-text-right {
  position: absolute;
  bottom: 300px;
  left: 71%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.img_btn {
  width: 120px;
  height: 45px;
  border: none;
  background-color: white;
  color: #391400;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  line-height: 32px;
  font-size: 20px;
}
.img_btn:hover {
  background-color: black;
  color: white;
}

.img-text {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Epilogue", sans-serif;
}

.service_btn {
  width: 165px;
  height: 48px;
  font-size: 14px;
  margin-bottom: 7px;
}/*# sourceMappingURL=mainPage.css.map */