* {
    padding: 0;
    margin: 0;
}

$darkBlueColor: #28293E;
$orangeColor: #EF6D58;
$lightColor: #FDF0E9;
$darkBraunColor: #391400;
$cardTextColor: rgba(133, 90, 68, 0.9);

.wrapper {
    width: 1160px;
    margin: 0 auto;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.orange-text {
    color: $orangeColor;
    line-height: 32px;
    letter-spacing: 3px;
}

.card_text {
    color: $cardTextColor;
    line-height: 28px;
    letter-spacing: 2px;
}

.h1 {
    color: white;
    font-weight: 800;
    font-size: 72px;
}

.button {
    background-color: inherit;
    width: 138px;
    height: 48px;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 3px 3px black;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: $darkBlueColor;
    }
}

.orangeButton {
    @extend .button;
    background-color: $orangeColor;
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 154px;
    height: 48px;
}

.header {
    background-color: $darkBlueColor;
    color: white;
    padding: 10px 0;

    &_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_list {
        display: flex;
        align-items: center;
        gap: 100px;
        list-style-type: none;
    }

    &_list-item {
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            transform: translateY(-2px);
        }
    }
}

.about {
    background-color: $darkBlueColor;

    &_box {
        display: flex;
        background-color: $darkBlueColor;
        justify-content: space-between;
        align-items: center;
        padding: 90px 0;
    }

    &_inform {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
    }
}

.service {
    background-color: $lightColor;
    padding: 90px 0;

    &_question {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .question {
        color: $darkBraunColor;
        font-size: 56px;
        font-weight: bolder;
        width: 425px;
        line-height: 64px;
        text-align: center;
    }

    &_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 65px;
    }

    &_footer-link {
        text-decoration: none;
        @extend .card_text;

        &:hover {
            color: #EF6D58;
            text-decoration: underline;
        }
    }
}

.card-general {
    background-color: $lightColor;
    display: flex;

    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid #F3D1BF;
        padding: 40px;
        gap: 15px;
        width: 50%;
        box-sizing: border-box;

        &_box {
            display: flex;
            align-items: center;
            gap: 20px;
            color: $darkBraunColor;
        }

        &_circle {
            background-color: $orangeColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        &_text-design {
            font-weight: bold;
            font-size: 24px;
        }

        &_btn {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $orangeColor;
            background-color: white;
            border-radius: 50%;
            font-size: 28px;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: $orangeColor;
                color: white;
            }
        }

        &_text-learn {
            color: $darkBraunColor;

        }

        &:last-child {
            border-left: none;
        }
    }
}